.circle {
  position: relative;

  border-radius: 50%;

  &__large {
    top: 35px;
    left: 35px;
    width: 70px;
    height: 70px;

    background-color: #146b9f;
    box-shadow:
      0 0 0 1px #000000,
      0 0 0 15px #e9eef3,
      0 0 0 16px #000000;
  }

  &__small {
    width: 20px;
    height: 20px;

    border: 1px solid #000000;
  }

  &__red {
    top: -35px;
    left: 135px;

    background-color: #710000;
  }

  &__yellow {
    top: -57px;
    left: 165px;

    background-color: #c3ba00;
  }

  &__green {
    top: -79px;
    left: 195px;

    background-color: #1f743b;
  }
}
