<div class="circle circle__large"></div>
<div class="circle circle__small circle__red"></div>
<div class="circle circle__small circle__yellow"></div>
<div class="circle circle__small circle__green"></div>
