<div class="pokedex">
  <div class="pokedex--left">
    <app-lights />
    <app-screen />
    <app-controls />
  </div>

  <div class="pokedex--right">
    <app-description />
    <app-numpad />
    <app-stats />
  </div>

  <svg
    class="pokedex--mid-cilinder"
    width="54"
    height="456"
    viewBox="0 0 54 456"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g filter="url(#filter0_d_250_2)">
      <path
        d="M4 3.70732C4 3.70732 17.8401 0 27 0C36.1599 0 50 3.70732 50 3.70732V444.878C50 444.878 36.1599 441.171 27 441.171C17.8401 441.171 4 444.878 4 444.878V3.70732Z"
        fill="#DC0A2D"
      />
      <path
        d="M49 4.48123V443.589C48.6919 443.513 48.3328 443.424 47.9289 443.327C46.4789 442.977 44.45 442.511 42.1323 442.044C37.5151 441.115 31.6843 440.171 27 440.171C22.3157 440.171 16.4849 441.115 11.8677 442.044C9.55003 442.511 7.52106 442.977 6.07111 443.327C5.66722 443.424 5.30809 443.513 5 443.589V4.48122C5.38364 4.38368 5.90543 4.25329 6.54016 4.10016C7.97147 3.75485 9.975 3.29436 12.2623 2.834C16.8552 1.90961 22.5243 1 27 1C31.4757 1 37.1448 1.90961 41.7377 2.834C44.025 3.29436 46.0285 3.75485 47.4598 4.10016C48.0946 4.25329 48.6164 4.38368 49 4.48123Z"
        stroke="black"
        stroke-width="2"
      />
    </g>
    <path
      d="M6.29999 64.8781C6.29999 64.8781 18.8664 63.0244 27 63.0244C35.1336 63.0244 47.7 64.8781 47.7 64.8781"
      stroke="black"
      stroke-width="2"
    />
    <path
      d="M6.29999 72.2927C6.29999 72.2927 18.8664 70.439 27 70.439C35.1336 70.439 47.7 72.2927 47.7 72.2927"
      stroke="black"
      stroke-width="2"
    />
    <path
      d="M6.29999 368.878C6.29999 368.878 18.8664 367.024 27 367.024C35.1336 367.024 47.7 368.878 47.7 368.878"
      stroke="black"
      stroke-width="2"
    />
    <path
      d="M6.29999 376.293C6.29999 376.293 18.8664 374.439 27 374.439C35.1336 374.439 47.7 376.293 47.7 376.293"
      stroke="black"
      stroke-width="2"
    />
    <mask id="path-7-inside-1_250_2" fill="white">
      <path
        d="M50 444.878C50 441.928 47.5768 439.099 43.2635 437.014C38.9501 434.928 33.1 433.756 27 433.756C20.9 433.756 15.0499 434.928 10.7365 437.014C6.42321 439.099 4 441.928 4 444.878L27 444.878H50Z"
      />
    </mask>
    <path
      d="M50 444.878C50 441.928 47.5768 439.099 43.2635 437.014C38.9501 434.928 33.1 433.756 27 433.756C20.9 433.756 15.0499 434.928 10.7365 437.014C6.42321 439.099 4 441.928 4 444.878L27 444.878H50Z"
      fill="#89061C"
      stroke="black"
      stroke-width="4"
      mask="url(#path-7-inside-1_250_2)"
    />
    <defs>
      <filter
        id="filter0_d_250_2"
        x="0"
        y="0"
        width="54"
        height="452.878"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        />
        <feOffset dy="4" />
        <feGaussianBlur stdDeviation="2" />
        <feComposite in2="hardAlpha" operator="out" />
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
        />
        <feBlend
          mode="normal"
          in2="BackgroundImageFix"
          result="effect1_dropShadow_250_2"
        />
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="effect1_dropShadow_250_2"
          result="shape"
        />
      </filter>
    </defs>
  </svg>
</div>
