:host {
  display: flex;

  justify-content: center;
}

.pokedex {
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;

  align-items: flex-end;

  &--left {
    width: 500px;
    height: 600px;

    background-color: #dc0a2d;
    border-radius: 7px;
    border: 2px solid #000000;
    box-shadow: 2px 2px #89061c, 3px 3px #89061c, 4px 4px #89061c,
      5px 5px #89061c, 6px 6px #89061c, 7px 7px #89061c, 8px 8px #89061c,
      9px 9px #000000;
  }

  &--right {
    width: 410px;
    height: 530px;
    padding-right: 40px;
    padding-left: 50px;

    background-color: #dc0a2d;
    border-radius: 7px;
    border: 2px solid #000000;
    box-shadow: 2px 2px #89061c, 3px 3px #89061c, 4px 4px #89061c,
      5px 5px #89061c, 6px 6px #89061c, 7px 7px #89061c, 8px 8px #89061c,
      9px 9px #000000;
  }


  &--mid-cilinder {
    position: relative;
    right: 531px;
    bottom: 10px;
  }
}

