:host {
  display: flex;
}

.dpad--container {
  position: relative;

  width: 90px;
  height: 90px;

  .button-container {
    position: absolute;
    width: 30px;
    height: 30px;

    cursor: pointer;

    background-color: #222;

    &__left {
      z-index: 1;

      left: 0;
      top: 30px;

      box-shadow: 0px 4px 0px -2px #010101, 1px 6px 0px -2px #010101,
        2px 7px 0px -2px #010101;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;

      &:active .button {
        border-right: 10px solid #9b9d6e;
      }

      .button {
        border-top: 10px solid transparent;
        border-right: 10px solid #111;
        border-bottom: 10px solid transparent;

        top: 5px;
        left: 4px;
      }
    }

    &__right {
      top: 30px;
      right: 0;

      box-shadow: 1px 3px 0 2px #010101;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;

      &:active .button {
        border-left: 10px solid #9b9d6e;
      }

      .button {
        border-top: 10px solid transparent;
        border-left: 10px solid #111;
        border-bottom: 10px solid transparent;

        top: 5px;
        right: 5px;
      }
    }

    &__down {
      bottom: 0;
      left: 30px;

      box-shadow: 2px 3px #010101, 3px 4px #010101;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;

      &:active .button {
        border-top: 10px solid #9b9d6e;
      }

      .button {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #111;

        bottom: 5px;
        left: 4px;
      }
    }

    &__up {
      top: 0;
      left: 30px;

      box-shadow: 3px 2px 0px 0px #010101;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;

      &:active .button {
        border-bottom: 10px solid #9b9d6e;
      }

      .button {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #111;

        top: 5px;
        left: 4px;
      }
    }

    &__center {
      width: 30px;
      height: 30px;

      top: 30px;
      left: 30px;

      box-shadow: -3px 2px #010101;
      -webkit-box-shadow: -3px 2px #010101;
      -moz-box-shadow: -3px 2px #010101;
      -o-box-shadow: -3px 2px #010101;

      .button__center {
        width: 20px;
        height: 20px;

        position: absolute;
        top: 5px;
        left: 4px;

        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -o-border-radius: 30px;

        background: radial-gradient(#111, #222);
        background: -webkit-radial-gradient(#111, #222);
        background: -moz-radial-gradient(#111, #222);
        background: -o-radial-gradient(#111, #222);
      }
    }

    .button {
      position: absolute;
      width: 0;
      height: 0;
    }
  }
}
