<div class="dpad--container">
  <div class="button-container button-container__left">
    <div class="button"></div>
  </div>
  <div class="button-container button-container__up">
    <div class="button"></div>
  </div>
  <div class="button-container button-container__right">
    <div class="button"></div>
  </div>
  <div class="button-container button-container__center">
    <div class="button__center"></div>
  </div>
  <div class="button-container button-container__down">
    <div class="button"></div>
  </div>
</div>
