:host {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.description-screen {
  width: 100%;
  height: 120px;
  padding: 5px;

  background-color: #232323;
  border: 2px solid #000000;
  font-family: "VT323", monospace;
  font-size: 25px;
  color: #eaeaea;
  overflow-y: auto;
}
