.types--container {
  display: flex;
  margin-top: 20px;

  .type--container {
    display: flex;
    width: 85px;
    height: 50px;

    align-items: center;
    justify-content: center;

    background-color: #dedede;
    border: 2px solid #000000;

    &:first-of-type {
      border-right: none;
    }
  }
}

.size--container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;

  .size--screen {
    width: 175px;
    height: 50px;
    padding-top: 20px;
    padding-left: 5px;

    background-color: #232323;
    border: 2px solid #000000;
    font-family: "VT323", monospace;
    font-size: 28px;
    color: #eaeaea;
  }
}
