<div class="types--container">
  <div class="type--container">
    <img class="type" src="" />
  </div>
  <div class="type--container">
    <img class="type" src="" />
  </div>
</div>

<div class="size--container">
  <div class="size--screen size--screen__height">Height: No data</div>
  <div class="size--screen size--screen__weight">Weight: No data</div>
</div>
