:host {
  display: flex;

  justify-content: center;
}

.pokemon--controls-container {
  width: 400px;
  height: 100px;
  display: flex;

  align-items: center;
  justify-content: space-between;

  .pokemon--name-screen {
    height: 45px;
    width: 150px;
    display: flex;
    padding-left: 5px;

    align-items: center;
    font-family: "VT323", monospace;
    background-color: #52af5f;
    border: 1px solid #000000;
    font-size: 25px;
    box-shadow: inset 1px 1px #306938, inset 2px 2px #000000;
  }

  .pokemon--buttons-container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    .button {
      position: relative;
      display: flex;
      width: 40px;
      height: 10px;

      cursor: pointer;

      justify-content: flex-end;
      align-items: center;

      border-radius: 20px;

      &__normal {
        margin-bottom: 3px;
        padding-right: 4px;

        background-color: #710000;
        border: 1px solid #000000;

        box-shadow: 1px 1px #89061c, 2px 2px #89061c, 3px 3px #000000;
      }

      &__shiny {
        margin-top: 3px;
        padding-right: 4px;

        background-color: #146b9f;
        border: 1px solid #000000;

        box-shadow: 1px 1px #0f537b, 2px 2px #0f537b, 3px 3px #000000;
      }

      &:active {
        box-shadow: none;
        top: 3px;
        right: -3px;
      }

      .button--light {
        height: 5px;
        width: 5px;

        border: 1px solid #232323;
        border-radius: 50%;

        background-color: #232323;

        &__on {
          background-color: #e3e98e;
        }
      }
    }
  }
}
