<div class="pokemon--controls-container">
  <div class="pokemon--name-screen">
    No Data
  </div>
  <div class="pokemon--buttons-container">
    <div class="button button__normal">
      <div class="button--light"></div>
    </div>
    <div class="button button__shiny">
      <div class="button--light"></div>
    </div>
  </div>
  <app-dpad />
</div>
