
<div class="number-buttons--container">
  <div class="button">0</div>
  <div class="button">1</div>
  <div class="button">2</div>
  <div class="button">3</div>
  <div class="button">4</div>
  <div class="button">5</div>
  <div class="button">6</div>
  <div class="button">7</div>
  <div class="button">8</div>
  <div class="button">9</div>
</div>

<div class="confirmation-buttons--container">
  <div class="button button__submit"></div>
  <div class="button button__cancel"></div>
</div>

