.number-buttons--container {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}

.button {
  width: 19%;
  height: 25px;

  cursor: pointer;

  background-color: #2aaafc;
  border: 1px solid #000000;
  text-align: center;
  padding-top: 10px;
  font-family: "Odibee Sans", cursive;
  font-size: 19px;

  &:hover {
    text-shadow: 0px 0px 4px #ffffef;
    color: #fff8c3;
  }
}

.confirmation-buttons--container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;

  .button {
    width: 50px;
    height: 10px;
    border-radius: 5px;
    margin-right: 6px;
    cursor: pointer;

    &__cancel {
      background-color: #710000;
      border: 1px solid #000000;

      box-shadow: 1px 1px #89061c, 2px 2px #89061c, 3px 3px #000000;
    }

    &__submit {
      background-color: #146b9f;
      border: 1px solid #000000;

      box-shadow: 1px 1px #0f537b, 2px 2px #0f537b, 3px 3px #000000;
    }

    &:active {
      box-shadow: none;
      top: 3px;
      right: -3px;
    }
  }
}
