:host {
  display: flex;
  height: 350px;

  justify-content: center;
}

.screen--container {
  background-color: #dedede;
  border: 1px solid #000000;
  width: 300px;
  border-radius: 10px;
  padding-right: 50px;
  padding-left: 50px;

  .lights {
    display: flex;
    height: 50px;
    align-items: center;

    &__top {
      justify-content: center;
      column-gap: 40px;
    }

    &__bottom {
      justify-content: space-between;
    }

    .light {
      background-color: #dc0a2d;
      border-radius: 50%;
      border: 1px solid #000000;

      &__small {
        width: 10px;
        height: 10px;
      }

      &__large {
        width: 20px;
        height: 20px;
      }
    }
  }

  .screen {
    height: 250px;
    display: flex;
    flex-direction: column;

    justify-content: center;

    border-radius: 5px;
    background-color: #232323;

    .pokemon--image-container {
      display: flex;

      justify-content: center;

      .pokemon--image {
        height: 230px;
        width: 250px;
      }
    }

    .pokemon--info-container {
      height: 20px;
      display: flex;
      padding-bottom: 5px;
      margin-left: 5px;

      justify-content: space-between;

      .pokemon--number {
        font-family: "VT323", monospace;
        font-size: 25px;
        color: #ffffff;
      }

      .pokemon--gender-container {
        display: flex;
        width: 30px;
        margin-right: 10px;

        justify-content: space-between;

        .pokemon--gender-icon {
          color: #7E7E7E;
          cursor: pointer;

          &__active {
            color: #D6D3BB;
          }
        }
      }
    }
  }
}
